html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	margin: 0 auto;
	width: 600px;
	box-sizing: border-box;
}
.box_header{
	height: 25px;
	background: purple;
	margin-bottom: 10px;
}
.box_header a{
	display: inline-block;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin: 6px 10px;
}
.setting {
	font-weight: bold;
	float: right;
}
.main{
	margin-bottom: 10px;
}
.menu{
	width: 150px;
	color: white;
	background: black;
	float: left;
	padding: 10px 10px;
	margin-right: 10px;
}
.content{
	width: 420px;
	height: 20px;
	background: pink;
	float: left;
}
.clearfix{
	clear: both;
}
.box_footer{
	height: 30px;
	background: gray;
}
.box_footer p{
	text-align: center;
	padding-top: 6px;
}
